@page
@model ReazorLearning.Pages.Admin.Category.IndexModel
@{
}
<div class="container p3">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
   @if (TempData["Msg"] != null)
   {
       <script type="text/javascript">
        toastr.success('@TempData["Msg"]')
    </script>
   }
    <div class="row p-4">
        <div class="col-6">
            <h4 class="text-primary">Category List</h4>
        </div>
        <div class="col-6 text-end">
            <a asp-page="Create" class="btn btn-success">Create Category <i class="bi bi-plus-square"></i>&nbsp;</a>

        </div>
    </div>
    <div class="row mt-3 p-1">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>DispalyOrder</th>
                <th><i class="bi bi-tools"></i></th>
            </tr>
            </thead>
            <tbody>
            @if (Model.Categories == null)
            {
                <tr>
                    <td colspan="3">
                        <p class="text-danger text-center">The List Is Empty</p>
                    </td>
                </tr>
            }
            else
            {
                @foreach (var category in Model.Categories)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@category.DisplayOrder</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-info" asp-page="Edit" asp-route-id="@category.Id"><i class="bi bi-pencil"></i></a>
                                <a class="btn btn-danger" asp-page="Delete" asp-route-id="@category.Id"><i class="bi bi-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>
